textarea, input {
    width: 100%;
    background-color: var(--form-background-color);
    border: none;
    font-size: 22px;
    color: var(--highlighted-text-color);
}

input:focus, textarea:focus {
    outline: none;
    border-radius : 5px;
}

/* Formulários */
input[type="url"], .input {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 1rem;
    outline: none;
    font-family: 'Courier New', monospace;
}

input[type="url"]:focus, .input:focus {
    border-color: var(--highlighted-text-color);
    outline: none;
}

/* Botões */
button {
    padding: 12px 24px;
    background-color: var(--button-background-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    display: block;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

#message {
    margin-top: 20px;
    font-size: 16px;
    color: #f00;
}

.icon-button {
    padding: 0px;
}

.icon-button > img{
    width: 40px;
    height: auto;
}

* > #close-button {
    margin-left: auto;
}