/* Estilos adicionais */
.logo {
    margin-left: 20px;
}

.button-big {
    padding: 20px;
    font-size: 18px;
    display: block;
}

.highlighted > *, .highlighted {
    color: var(--highlighted-text-color);
}

/* Estilos específicos para o modo de texto RPG */
.hero {
    padding-bottom: 4rem;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-invert {
    filter: invert(1);
}

p {
    padding-bottom: 20px;
}

.floating {
    position: fixed;
    display: block;
    background-color: var(--floating-background-color);
    z-index: 9999;  /* Garante que o painel fique acima de outros elementos */
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px var(--console-text-color);

}

.floating-center {
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}